body{
    background:grey;
}


.example{
    background:white;
    border-radius:5px;
    padding:10px;
    margin:5px;
    width:90%;
    text-align:center;
}

.example h1{
    text-align:center;
}

.example label{
    display:block;
    width:100%;
    text-align:center;
}

.example input{
    display:block;
    width:100%;
}

.example input:focus{
    background:skyblue;
    color:magenta;
}
.example button{
    width:100%;
    padding:5px;
}

@media(min-width:900px){
    #content{
        display:flex;
        flex:1;
    }

    .example p{
        display:flex;
    }
    .example label{
        width:100px;
        text-align:right;
        padding-right:5px;
        
    }
    
    .example{
        width:70%;
    }

    .example input{
        width:50%;
        
    }

    .example button{
        width:50%;
        display: block;
        margin:auto;
    }
}